.Meme {
    position: relative;
    max-width: 300px;
    max-height: 300px;
    text-align: center;
    color: white;
}

.Meme-img {
    max-width: 300px;
    max-height: 300px;
}

.Meme-topText {
    position: absolute;
    top: 2px;
    right: 50%;
}

.Meme-bottomText {
    position: absolute;
    bottom: 10px;
    right: 50%;
}